<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>IMC history</title>
    <link rel="sortcut icon" th:href="@{tableHistoryPage/images/IMC.ico}" href="../../static/tableHistoryPage/images/IMC.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{tableHistoryPage/css/style.css}" href="../../static/tableHistoryPage/css/style.css">
</head>
<body onload="textColors();">
    <header>
        <div class="container">
            <div class="logo">
                <a th:href="@{/}" href="../homePage/index.html" class="LogoText">IMC Calculator</a>
                <div class="itensBottomBorder"></div>
            </div>
            <div class="menuItens">
                <a th:href="@{/bmi}" href="index.html"><img class="historyIcon" th:src="@{homePage/images/history.png}" src="../../static/homePage/images/history.png"/>
                </a>
                <div class="itensBottomBorder active"></div>
            </div>
        </div>
    </header>

    <section class="tableSection">
        <div class="container column">
        
            <div class="title">
                <h1 class="clas">Tabela de Grau IMC</h1>
            </div>

            <div class="imcTableDiv">
                <!-- BMI Table -->
            <table>
                <thead>
                    <!-- T Header -->
                    <tr>
                        <th>Peso</th>
                        <th>Altura</th>
                        <th>IMC</th>
                    </tr>
                </thead>
                <!-- 
                    Adicionar Feature para alterar a cor
                    do texto do IMC de acordo com o grau
                -->
                <tbody>
                    <!-- T Body -->
                    <tr th:each="bmi : ${bmis}" class="hov" >
                        <td><span th:text="${bmi.weight}"></span></td>
                        <td><span th:text="${bmi.height}"></span></td>
                        <td><span class="imc" th:text="${bmi.bmiPerformance}"></span></td>
                    </tr>
                </tbody>
            </table>
            </div>
        
        </div>
    </section>

    <footer>
        <div class="container Flexcolumn">
            <div class="footerArea">
                <div class="footerAreaItem">
                    <div class="widget">
                        <div class="widgetTitle">
                            <div class="widgetTitleText">Contato</div>
                        </div>
                        <div class="widgetTitleBar"></div>
                        <div class="widgetBody">
                            <a target="_blank" href="https://www.linkedin.com/in/davi-mattos-622a98235/" class="contactLink">
                                <div class="contactBox">
                                    <img class="contactIcon" th:src="@{homePage/images/linkedin.png}" src="../../static/homePage/images/linkedin.png"/>
                                    <div class="contactText underBorder">Davi Mattos</div>
                                </div>
                            </a>
                            <a target="_blank" href="mailto:daviteremattos13@gmail.com" class="contactLink">
                                <div class="contactBox">
                                    <img class="contactIcon" th:src="@{homePage/images/email.png}" src="../../static/homePage/images/email.png"/>
                                    <div class="contactText underBorder">daviteremattos13@gmail.com</div>
                                </div>
                            </a>
                            <a target="_blank" href="https://github.com/Saky0" class="contactLink">
                                <div class="contactBox">
                                    <img class="contactIcon" th:src="@{homePage/images/github-sign.png}" src="../../static/homePage/images/github-sign.png"/>
                                    <div class="contactText underBorder">Saky0</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footerAreaItem">
                    <div class="widget">
                        <div class="widgetTitle">
                            <div class="widgetTitleText">Sobre</div>
                        </div>
                        <div class="widgetTitleBar"></div>
                        <div class="widgetBody">
                            <div class="aboutText">
                                <div class="discriptionText">
                                    Este projeto foi proposto pelo 
                                    <a class="mentionLink" href="https://www.linkedin.com/in/allan-souza-7723871a2/">@Allan Souza</a>,
                                    e realizado por toda a comunidade BecomingDev!
                                </div>
                                <div class="complementarsInfo">
                                    Cada projeto realizado ajuda a integrar e por em prática os conhecimentos de cada Dev!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footerAreaItem">
                    <div class="widget">
                        <div class="widgetTitle">
                            <div class="widgetTitleText">Mais Sobre IMC</div>
                        </div>
                        <div class="widgetTitleBar"></div>
                        <div class="widgetBody">
                            <div class="aboutText">
                                <div class="discriptionText">
                                    Leia mais sobre IMC em: <br/>
                                    <a class="mentionLink" href="https://www.tuasaude.com/imc/">-> Tua Saude IMC</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerCopy">
                ® Copyright - Todos os direitos Reservados Saky0 (Davi Mattos)
            </div>
        </div>
    </footer>

    <script th:src="@{tableHistoryPage/js/script.js}" src="../../static/tableHistoryPage/js/script.js"></script>
</body>
</html>