<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>IMC Calculator</title>
    <link rel="sortcut icon" th:href="@{homePage/images/IMC.ico}" href="../../static/homePage/images/IMC.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{homePage/css/style.css}" href="../../static/homePage/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a th:href="@{/}" href="index.html" class="LogoText">IMC Calculator</a>
                <div class="itensBottomBorder active"></div>
            </div>
            <div class="menuItens">
                <a th:href="@{/bmi}" href="../tableHistoryPage/index.html"><img class="historyIcon" th:src="@{homePage/images/history.png}" src="../../static/homePage/images/history.png"/>
                </a>
                <div class="itensBottomBorder"></div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="imcCalculatorDiv">
                <!-- Pop up -->
                <div onclick="closeBackground();" class="popupWrapper">
                    <div class="popup">
                        <div class="popupClose">x</div>

                        <div class="popupContent">
                            <h2>Resultado IMC</h2>
                            <p>O seu IMC é de: <span class="imcResult">18.5</span></p> 
                            <div class="divPontilhada"></div>
                            <p>Grau: <span class="imcGrauResult">Magro</span></p> 

                            <div class="indiceGrauImc">
                                <div class="barraImc">
                                    <div class="cutLeft"></div>
                                    <div class="cutRight"></div>
                                </div>
                                <div class="barraImc">
                                    <div class="cutLeft"></div>
                                    <div class="cutRight"></div>
                                </div>
                                <div class="barraImc">
                                    <div class="cutLeft"></div>
                                    <div class="cutRight"></div>
                                </div>
                            </div>

                            <div class="itensDiv">
                                <button class="calculateAgainButton">Calcular Novamente</button>
                            </div>
                        </div>
                    </div>
                </div>

                <h1>Calculadora de IMC</h1>
                <!--  -->

                <!-- input text tooltip -->
                <div class="itensDiv txtDiv tooltip">
                    <input onkeypress="changeRedErrorColor();" placeholder="Seu Peso..." class="textBox weight" type="number"/>
                    <span class="tooltiptext tooltiptextInvertido">
                        Digite valores utilizando "."
                        <br>
                        Ex: 45.50 Kg
                    </span>
                    <img class="txtIcons" th:src="@{homePage/images/weight.png}" src="../../static/homePage/images/weight.png"/>
                </div>
                <div class="itensDiv txtDiv tooltip"> 
                    <input onkeypress="changeRedErrorColor();" placeholder="Sua Altura..." class="textBox height" type="number"/>
                    <span class="tooltiptext tooltiptextInvertido">
                        Digite valores utilizando "."
                        <br>
                        Ex: 1.80 m
                    </span>
                    <img class="txtIcons" th:src="@{homePage/images/height.png}" src="../../static/homePage/images/height.png"/>
                </div>
                
                <!-- Calculate BMI Button -->
                <div class="itensDiv">
                    <button class="calculateButton">Calcular</button>
                </div>

                <!--  -->
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="imcTableDiv">
                <h1>Tabela de Grau IMC</h1>

                <!-- BMI Table -->
                <table>
                    <thead>
                        <!-- T Header -->
                        <tr>
                            <th>Classificação</th>
                            <th>IMC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- T Body -->
                        <tr class="hov">
                            <td class="Grau1 tooltip">
                                <span class="tooltiptext">Seu peso está abaixo do ideal! Procure aumentar sua alimentação!</span>  
                                Abaixo do Peso
                            </td>
                            <td class="imc">< 18,5</td>
                        </tr>
                        <tr class="hov">    
                            <td class="Grau2 tooltip">
                                <span class="tooltiptext">
                                    Seu peso está ideal! 
                                    <br>
                                    Procure manter sua alimentação!
                                </span>
                                Peso Ideal</td>
                            <td class="imc">18,6 - 24,9</td>
                        </tr>
                        <tr class="hov">      
                            <td class="Grau3 tooltip">
                                <span class="tooltiptext">
                                    Seu peso está um pouco elevado! 
                                    <br> Procure reduzir sua alimentação!
                                </span>
                                Levemente Acima do Peso</td>
                            <td class="imc">25,0 - 29,9</td>
                        </tr>
                        <tr class="hov">    
                            <td class="Grau4 tooltip">
                                <span class="tooltiptext">Você está Obeso em grau 1! Procure um nutricionista!</span>
                                Obesidade - I</td>
                            <td class="imc">30,0 - 34,9</td>
                        </tr>
                        <tr  class="hov">    
                            <td class="Grau5 tooltip">
                                <span class="tooltiptext">Você está Obeso em grau 2! Procure um nutricionista!</span>
                                Obesidade - II (Severa)</td>
                            <td class="imc">35,0 - 39,9</td>
                        </tr>
                        <tr class="hov">    
                            <td class="Grau6 tooltip">
                                <span class="tooltiptext">Você está Obeso em grau 3! Procure um nutricionista!</span>
                                Obesidade - III (Mórbida)</td>
                            <td class="imc">> 40,0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <footer>
        <div class="container Flexcolumn">
            <div class="footerArea">
                <div class="footerAreaItem">
                    <div class="widget">
                        <div class="widgetTitle">
                            <div class="widgetTitleText">Contato</div>
                        </div>
                        <div class="widgetTitleBar"></div>
                        <div class="widgetBody">
                            <a target="_blank" href="https://www.linkedin.com/in/davi-mattos-622a98235/" class="contactLink">
                                <div class="contactBox">
                                    <img class="contactIcon" th:src="@{homePage/images/linkedin.png}" src="../../static/homePage/images/linkedin.png"/>
                                    <div class="contactText underBorder">Davi Mattos</div>
                                </div>
                            </a>
                            <a target="_blank" href="mailto:daviteremattos13@gmail.com" class="contactLink">
                                <div class="contactBox">
                                    <img class="contactIcon" th:src="@{homePage/images/email.png}" src="../../static/homePage/images/email.png"/>
                                    <div class="contactText underBorder">daviteremattos13@gmail.com</div>
                                </div>
                            </a>
                            <a target="_blank" href="https://github.com/Saky0" class="contactLink">
                                <div class="contactBox">
                                    <img class="contactIcon" th:src="@{homePage/images/github-sign.png}" src="../../static/homePage/images/github-sign.png"/>
                                    <div class="contactText underBorder">Saky0</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footerAreaItem">
                    <div class="widget">
                        <div class="widgetTitle">
                            <div class="widgetTitleText">Sobre</div>
                        </div>
                        <div class="widgetTitleBar"></div>
                        <div class="widgetBody">
                            <div class="aboutText">
                                <div class="discriptionText">
                                    Este projeto foi proposto pelo 
                                    <a class="mentionLink" href="https://www.linkedin.com/in/allan-souza-7723871a2/">@Allan Souza</a>,
                                    e realizado por toda a comunidade BecomingDev!
                                </div>
                                <div class="complementarsInfo">
                                    Cada projeto realizado ajuda a integrar e por em prática os conhecimentos de cada Dev!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footerAreaItem">
                    <div class="widget">
                        <div class="widgetTitle">
                            <div class="widgetTitleText">Mais Sobre IMC</div>
                        </div>
                        <div class="widgetTitleBar"></div>
                        <div class="widgetBody">
                            <div class="aboutText">
                                <div class="discriptionText">
                                    Leia mais sobre IMC em: <br/>
                                    <a class="mentionLink" href="https://www.tuasaude.com/imc/">-> Tua Saude IMC</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerCopy">
                ® Copyright - Todos os direitos Reservados Saky0 (Davi Mattos)
            </div>
        </div>
    </footer>

    <script th:src="@{homePage/js/script.js}" src="../../static/homePage/js/script.js"></script>
</body>
</html>